
<div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-justify" style="margin-bottom: 150px;">
    <p class="page-title regular36" >
        Careers
    </p>
    <img src="/images/career.png" alt="" style="width: 100%; height:300px;"/>
    <p class='para-title'>
        Company Description
    </p>
    <div class="regular16 content-color">
        “All our fresh entrants including graduates are mentored by our senior employees who are veterans in the 
        industry, thus creating a powerhouse of learning while on the job itself. When you join Varad Suppliers, you don’t
        just take up another job, you join a family that strives to provide its employees with an environment that
        is motivating along with an enriching experience that results in excellence of your career”.
    </div>
    <p class='para-title'>
        Job Description
    </p>
    <div class="regular16 content-color">
        Currently we do not have have any job openings.
        Feel free to email on hr@varadsuppliers.co.in for any future consideration
    </div>
</div>