<div class="col-md-6 col-sm-6 col-xs-11 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-justify" style="margin-bottom:150px;" >
    <p class="page-title regular36" >
        Contact Us
    </p>
    <form name="detailsForm" novalidate="">
        <div class="form-group">
            <label class="regular16" for="cname">Name <span class="invalid"> *</span></label>
            <input type="text" class="form-control input-width" id="name" name="name" ng-model="name" required>
            <span class="invalid regular14" ng-show="detailsForm.name.$error.required && detailsForm.name.$touched">Missing required field</span>
        </div>
        <div class="form-group">
            <label class="regular16" for="companyName">Company Name <span class="invalid"> *</span></label>
            <input type="text" class="form-control input-width" id="companyName" name="companyName" ng-model="companyName" required>
            <span class="invalid regular14" ng-show="detailsForm.companyName.$error.required && detailsForm.companyName.$touched">Missing required field</span>
        </div>
        <div class="form-group">
            <label class="regular16" for="occupation">Occupation <span class="invalid"> *</span></label>
            <input type="text" class="form-control input-width" id="occupation" name="occupation" ng-model="occupation" required>
            <span class="invalid regular14" ng-show="detailsForm.occupation.$error.required && detailsForm.occupation.$touched">Missing required field</span>
        </div>
        <div class="form-group">
            <label class="regular16" for="email">Email <span class="invalid"> *</span></label>
            <input type="email" class="form-control input-width" id="email" name="email" ng-model="email" placeholder="my-email-address" required>
            <span  class="invalid regular14" ng-show="detailsForm.email.$error.required && detailsForm.email.$touched">Missing required field</span>
            <span  class="invalid regular14" ng-show="detailsForm.email.$error.email">Invalid Email</span>
        </div>
        <div class="form-group">
            <label class="regular16" for="mobile">Mobile <span class="invalid"> *</span></label>
            <input type="text" class="form-control input-width" id="mobile" name="mobile" maxlength="10" ng-pattern="/^(\d)+$/" ng-model="mobile" required>
            <span  class="invalid regular14" ng-show="detailsForm.mobile.$error.required && detailsForm.mobile.$touched">Missing required field</span>
            <span  class="invalid regular14" ng-show="detailsForm.mobile.$error.pattern">Numbers only please</span>
        </div>
        <div class="form-group">
            <label class="regular16" for="pwd">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Street (eg.123 Awesome Street)">
            <div class="form-inline" style="margin-top: 15px;">
                <input type="text" class="form-control input-width" id="city" name="city" placeholder="City">
                <input type="text" class="form-control" style="width:50%;" id="zip" name="zip" placeholder="ZIP">
            </div>
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-default regular16" ng-disabled="detailsForm.$invalid">Submit</button>
        </div>
    </form>
    <br/><br/>
    <div>
        <p class="para-title regular16" >
            Head Office
        </p>
        <address class="content-color regular16">
            <strong>Varad Suppliers</strong><br>
            A-28 Sanco Tulips ,Near Jal Vayu Vihar,<br>
            Moshi pradhikarn ,Sector-6,Moshi ,Pune-411026<br>
            <abbr title="Phone">Contact :</abbr> +91 9922266268 / 9960672089 <br>
            Mail Id :<a href="mailto:varadsuppliers@gmail.com"> varadsuppliers@gmail.com</a>
        </address>
    </div>
    <div>
        <p class="para-title regular16" >
            Godown 1
        </p>
        <address class="content-color regular16">
            At-Post Shirwad, Near Pandarpur Phata, Taluka - Khandala,<br>
            District - Satara , State – Maharashtra.
        </address>
    </div>
    <div>
        <p class="para-title regular16" >
            Godown 2
        </p>
        <address class="content-color regular16">
            At-Post Korade, Taluka - Baramati ,<br>
            District - Pune , State – Maharashtra.
        </address>
    </div>

</div>
<div class="col-md-5 col-sm-6 col-xs-11">
    <div class="maps-container">
        <div id="google-maps-canvas" class="map-display">
            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Sanco+tulips,+Sector+No.+6,+Pimpri-Chinchwad,+Maharashtra,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
        </div>
    </div>
</div>
