<footer class="footer-container">
    <div class="container">
        <div class="col-sm-6 col-md-6 col-xs-6">
            <ul class="footer-menu">
                <li> <a href='http://varadsuppliers.com/#/faq' class="footer-links regular16">FAQ's</a></li>
                <li> <a href='http://varadsuppliers.com/#/terms' class="footer-links regular16">Terms and Conditions</a></li>
                <li> <a href='http://varadsuppliers.com/#/privacy' class="footer-links regular16">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-6 text-right footer-text-m regular14" >
            &copy;2016 | Varad Suppliers
        </div>
    </div>
</footer>
