<nav class="outer-container navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars fa-fw"></span>
            </button>
            <div class="navbar-brand" ui-sref="home" style="cursor: pointer;">
                <img class="logo-icon"src="images/logo-no-text.png" />
                <p class="logo-txt bold12">VARAD SUPPLIERS</p>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-right" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="form-control-feedback glyphicon glyphicon-search" ng-class="!navCollapsed && 'form-control-mobile'"></span>
                </div>
            </form>

            <ul  class="nav navbar-nav list-inline" id="navigation">
                <li><a ui-sref="home" href="http://varadsuppliers.com/#/home" class="regular14">Home</a></li>
                <li><a ui-sref="about"  href="http://varadsuppliers.com/#/about-us" class="regular14">About Us</a></li>
                <li><a ui-sref="products" href="http://varadsuppliers.com/#/products" class="regular14">Products Library</a></li>
                <li><a ui-sref="careers"  href="http://varadsuppliers.com/#/careers" class="regular14">Career</a></li>
                <li><a ui-sref="contactUs" href="http://varadsuppliers.com/#/contact-us" class="regular14">Contact Us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <hr class="line-border-color"/>
</nav>
