<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="outer-container">
    <div class="card">
        <uib-carousel interval="vm.myInterval" no-wrap="vm.noWrapSlides">
            <uib-slide ng-repeat="slide in vm.slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;" alt="{{slide.desc}}">
            </uib-slide>
        </uib-carousel>
    </div>
    <br>
    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 text-center outer-container" style="width:65%;">
        <p class="page-title semibold48" >
            Welcome to Varad Suppliers
        </p>
        <hr class="style-two">
        <span class="regular24 content-color">
            Established in the year 2012. We, Varad Suppliers are dealers in plastic raw
            material and all type of industrial material .Varad supplier is a renowned entity 
            involved in trading and supplying a broad array of qualitative range   
            commodity Plastic Raw Material.
        </span>
    </div>
</div>
<br>
<br>