
<div class="col-md-10 col-sm-10 col-xs-11 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-justify" style="margin-bottom:150px;">
    <p class="page-title regular36" >
        Product Library 
    </p>
    <div ng-repeat="p in products.list.products" ng-show="!products.showSubProducts">
        <div class="col-sm-6 col-md-4 col-xs-8" style="padding: 10px; cursor: pointer;" ng-click="products.displaySubProducts($index)">
            <div class="div-inset-shadow">
                <span class="product-name regular18 content-color text-center">
                    {{p.name}}
                </span>
                <img ng-src="{{p.imgUrl}}" alt="" class="product-image image-background image-inset-shadow"/>
                
            </div>
        </div>
    </div>
</div>