
<div class="col-md-10 col-sm-10 col-xs-11 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-justify" style="margin-bottom:150px;">
    <p class="page-title regular36" >
        <a href="http://varadsuppliers.com/#/products"> Product Library</a> > {{products.list.products[products.productIndex].name}}
    </p>
    
    <div ng-repeat="p in products.list.products[products.productIndex].subProducts">
        <div class="col-sm-6 col-md-4 col-xs-8" style="padding: 10px; cursor: pointer;">
            <div class="div-inset-shadow">
                <span class="product-name regular18 content-color text-center">
                    {{p.name}}
                </span>
                <img ng-src="{{p.imgUrl}}" alt="" class="product-image image-background image-inset-shadow"/>
            </div>
        </div>
    </div>
</div>