/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2015, 1:09:33 AM
    Author     : krupa
*/
@font-face{
    font-family:cabinBold;
    src:url('fonts/cabin/Cabin-Bold.otf');
}

@font-face{
    font-family:cabinBoldItalic;
    src:url('fonts/cabin/Cabin-BoldItalic.otf');
}

@font-face{
    font-family:cabinItalic;
    src:url('fonts/cabin/Cabin-Italic.otf');
}

@font-face{
    font-family:cabinMedium;
    src:url('fonts/cabin/Cabin-Medium.otf');
}

@font-face{
    font-family:cabinMediumItalic;
    src:url('fonts/cabin/Cabin-MediumItalic.otf');
}

@font-face{
    font-family:cabinRegular;
    src:url('fonts/cabin/Cabin-Regular.otf');
}

@font-face{
    font-family:cabinSemiBold;
    src:url('fonts/cabin/Cabin-SemiBold.otf');
}

@font-face{
    font-family:cabinSemiBoldItalic;
    src:url('fonts/cabin/Cabin-SemiBoldItalic.otf');
}
@media(min-width:768px){
    .bold16{
        font-family: cabinBold;
        font-size: 16px;
    }

    .regular14{
        font-family: cabinRegular;
        font-size: 14px;
    }

    .semibold48{
        font-family: cabinSemiBold;
        font-size: 48px!important;
    }

    .regular24{
        font-family: cabinRegular;
        font-size: 24px;
    }

    .regular36{
        font-family: cabinRegular;
        font-size: 36px;
    }

    .regular16{
        font-family: cabinRegular;
        font-size: 16px!important;
    }
    .regular18{
        font-family: cabinRegular;
        font-size: 18px!important;
    }
    .bold12{
        font-family: cabinBold;
        font-size: 12px;
    }
}
@media(max-width:767px){
    .bold16{
        font-family: cabinBold;
        font-size: 12px;
    }

    .regular14{
        font-family: cabinRegular;
        font-size: 9px;
    }

    .semibold48{
        font-family: cabinSemiBold;
        font-size: 34px!important;
    }

    .regular24{
        font-family: cabinRegular;
        font-size: 18px;
    }

    .regular36{
        font-family: cabinRegular;
        font-size: 28px;
    }

    .regular16{
        font-family: cabinRegular;
        font-size: 12px!important;
    }
    .regular18{
        font-family: cabinRegular;
        font-size: 13px!important;
    }
    .bold12{
        font-family: cabinBold;
        font-size: 10px;
    }
}
